* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 125px;
}


#lista {
  list-style-type: none;
  font-size: 15px;

  && li {
    padding: 20px;
    transition: all .5s;
  }

  && li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    padding: 16px 8px 16px 8px;
    border-radius: 12px;
  }
}

.rota-ativa {
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 16px 0 16px 8px;
  border-radius: 12px;
  font-style: oblique;
}
