<div class="div-mov-avulso">
  <h3 class="titulo-h2">Deseja criar um movimento avulso?</h3>
  <form class="form-mov-avulso">
      <label for="placa">Informe a placa</label>
      <input type="text" id="placa" name="placa" [(ngModel)]="placa" (keyup)="formatarPlaca()" placeholder="Ex. ABC1234" required >
      <button type="button" class="btn-mov-avulso" (click)="gerarMovimentoAvulso()">Incluir Movimento</button>
  </form>
</div>

<div class="div-movs-aberto">
  <h2 class="titulo-h2">Movimentos abertos</h2>
  <app-loading [isLoading]="(isLoading$ | async) ?? false"></app-loading>
    <div *ngIf="loaded">
      <table class="table-movimentos" *ngIf="movAbertos.length != 0; else semMovimentos">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Entrada</th>
            <th>Situação</th>
            <th>Tipo de movimento</th>
            <th colspan="2">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mov of movAbertos">
            <td>{{ mov.placa }}</td>
            <td>{{ mov.dtHrEntrada | date: 'dd/mm/yyyy' }}</td>
            <td>{{ mov.situacao }}</td>
            <td>{{ mov.tipoMovimento }}</td>
            <td>
              <button class="btn-acao">Finalizar</button>
            </td>
            <td>
              <button class="btn-acao">Detalhes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #semMovimentos>
      <p>Não há movimentos abertos no momento.</p>
    </ng-template>
</div>
