#page-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  display: flex;
  height: 687px;
  width: 80%;
  min-width: 860px;
  margin: auto;
  box-sizing: content-box;
}

#container-esquerdo {
  width: 24%;
  height: inherit;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

#container-direito {
  height: inherit;
  width: 80%;
  min-width: 745px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
