* {
  height: 100%;
  margin: auto;
}

#container{
  display: flex;
  height: 85vh;
  width: 80%;
  /* margin: auto; */
  box-sizing: content-box;
}

#container-esquerdo {
  width: 22%;
  padding: 2px;

  height: inherit;
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

#container-direito {
  width: 76%;
  padding: 2px;

  height: inherit;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
