
#container{
  display: flex;
  height: 90vh;
  width: 80%;
  margin: auto;
  background-color: linear-gradient(90deg, #df3f3f 0%, #ffffff 100%);
}

#container-esquerdo {
  border: 1px solid #000;
  width: 22%;
}

#container-direito {
  border: 1px solid #000;
  width: 78%;
}
