/* You can add global styles to this file, and also import other style files */

.botao {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  transition: all 0.5s;
}

.botao:hover {
  /* font-size: 1.2em;
  font-weight: bolder;
  background-color: rgb(241, 250, 250);
  cursor: pointer; */
  /* background-color: #2980b9;
  color: black; */
}

.tabela-generica {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.tabela-generica th,
.tabela-generica td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.tabela-generica th {
  background-color: #f2f2f2;
}

.btn-acao {
  /* background-color: #3498db; */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.btn-acao:hover {
  /* background-color: #2980b9; */
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
