<div class="lista-veiculos">
  <app-loading [isLoading]="(isLoading$ | async) ?? false"></app-loading>
  <div *ngIf="isLoaded">
    <table class="tabela-generica" *ngIf="veiculos.length != 0; else semVeiculos" >
      <thead>
        <tr>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Montadora</th>
          <th>Registro</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of veiculos">
          <td>{{ v.placa }}</td>
          <td>{{ v.modelo }}</td>
          <td>{{ v.montadora }}</td>
          <td>{{ v.dtRegistro | date : "dd/MM/yyyy" }}</td>
          <td>
            <button
              class="btn btn-primary btn-acao"
              (click)="navEditarVeiculo(v.id)"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example" class="el-pagination">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <ng-template #semVeiculos>
    <p>Não há veículos cadastrados até o momento.</p>
  </ng-template>
</div>
